@import "mix.scss";
body {
  @include main;
  background: $body-bg;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.2;
  color: $text-black;
  padding: 68px;
  text-align: center;
}
ul {
  @include ul-none;
}
a {
  @include a-none;
}
button {
  @include button-none;
}
h2, h3, p {
  margin: 0;
}
.header {
  background: #fff;
  overflow: auto;
  li {
    float: left;
  }
  a {
    display: inline-block;
  }
  div {
    float: right;
    overflow: auto;
  }
}
.three-lines, .bar {
  float: left;
}
.avatar, .magnifying-glass, .nets  {
  float: right;
}
.three-lines, .magnifying-glass, .avatar {
  a {
    width: 56px;
    height: 52px;
  }
}
.three-lines {
  background: $mint;
  a {
    background: url("../img/sprite.svg") no-repeat 89.6% 61.8%;
  }
}
.bar {
  a:hover {
    color: $mint;
  }
  a {
    padding: 18px 28px;
  }
}
.magnifying-glass {
  background: url("../img/sprite.svg") no-repeat 38.50267379679144% 85%;
}
.nets {
  a {
    padding: 26px 18px;
  }
}
.fb {
  border-left: solid 1px $border-grey;
  background: url("../img/sprite.svg") no-repeat 60.962566844919785% 51.14754098360656%;
}
.tw {
  background: url("../img/sprite.svg") no-repeat 74.8663101604278% 65.60983606557377%;
}
.google {
  border-right: solid 1px $border-grey;
  background: url("../img/sprite.svg") no-repeat 88.77005347593582% 47.21311475409836%;
}
.avatar a {
  background: url("../img/sprite.svg") no-repeat 12% 84.13114754098362%;
}
.contacts {
  margin: 14px auto;
  @include flexy(center, flex-start);
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.details, .socials {
  float: left;
  width: 50%;
}
.details {
  margin-right: 14px;
  text-align: left;
  background: $tabcontent-blue;
  a {
    width: 100%;
    display: block;
  }
  div {
    float: left;
    width: 50%;
  }
}
.ver-menu {
    nav:first-child {
      background: #fff;
      line-height: 3.8;
      a {
        @include flexy(flex-start, center);
      }
      li {
        border-top: solid 1px #e1e5e7;
      }
      li:first-child {
        border-top: none;
      }
      .active, a:focus {
        background: $mint;
        color: #fff;
      }
      .home {
        background: url("../img/sprite.svg") no-repeat 1% 50.59920106524634%;
      }
      .cart {
        background: url("../img/sprite.svg") no-repeat 28.6% 50.498338870431894%;
      }
      .blog {
        background: url("../img/sprite.svg") no-repeat 41.8% 67.9734219269103%;
      }
      .community {
        background: url("../img/sprite.svg") no-repeat 1.2% 67.9%;
      }
      .trophy {
        background: url("../img/sprite.svg") no-repeat 61.62162162162162% 34.5514950166113%;
      }
      .icon {
        background: url("../img/sprite.svg") no-repeat 75.2% 1.6%;
      }
      .mail-2 {
        background: url("../img/sprite.svg") no-repeat 61.62162162162162% 1.2%;
      }
      .active .home {
        background: url("../img/sprite.svg") no-repeat 14.8% 50.5%;
      }
      .active .cart {
        background: url("../img/sprite.svg") no-repeat 42.4% 50.4%;
      }
      .active .blog {
        background: url("../img/sprite.svg") no-repeat 55.6% 67.9%;
      }
      .active .community {
        background: url("../img/sprite.svg") no-repeat 15% 67.9734219269103%;
      }
      .active .trophy {
        background: url("../img/sprite.svg") no-repeat 61.62162162162162% 17.27574750830565%;
      }
      .active .icon {
        background: url("../img/sprite.svg") no-repeat 29% 67%;
      }
      .active .mail-2 {
        background: url("../img/sprite.svg") no-repeat 51.2% 80.8%;
      }
      span {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin: 0 12px;
      }
    }
    .address {
      background: $icons-grey;
      color: #fff;
      font-size: .9rem;
      line-height: 1.2;
      padding-bottom: 4px;
      div {
        overflow: auto;
      }
      p {
        margin: 16px 0;
      }
      p, i {
        float: left;
      }
      span, i {
        display: block;
      }
      i {
        width: 32px;
        height: 32px;
        margin: 16px 14px;
      }
      div {
        float: none;
        width: 100%;
      }
    }
}
.mail {
  background: url("../img/sprite.svg") no-repeat 51.2% 81.4%;
}
.flag {
  background: url("../img/sprite.svg") no-repeat 87% 16.8%;
}
.phone {
  background: url("../img/sprite.svg") no-repeat 73.4% 34.11066286201581%;
}
.tabcontent {
    display: none;
    color: #fff;
    line-height: 2;
    font-size: .9rem;
    span:first-child {
      color: $mint;
      font-size: 1rem;
    }
    ul {
      padding: 18px;
      border-top: solid 1px $body-bg;
    }
    ul:first-child {
      border-top: none;
    }
    ul:hover {
      background: $tabcontent-hover;
    }
    .arr {
      display: inline-block;
      background: url("../img/sprite.svg") no-repeat 95.6% 27% $mint;
      border-radius: 50%;
      width: 17.4px;
      height: 17.4px;
      float: right;
      margin-top: 4px;
    }
}
.socials-wrap {
  @include flexy(center, center);
  margin-bottom: 14px;
  div {
    float: left;
    width: 50%;
  }
  div:first-child {
    background: #fff;
    padding: 16px 0;
    margin-right: 14px;
    span {
      display: inline-block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 12px 20px;
    }
    .fb-2 {
      background: url("../img/sprite.svg") no-repeat 98.8% 1.2% $icons-grey;
    }
    .tw-2 {
      background: url("../img/sprite.svg") no-repeat 73.8% 49.4% $icons-grey;
    }
    .google-2 {
      background: url("../img/sprite.svg") no-repeat 98.8% 14.6% $icons-grey;
    }
    .rss {
      background: url("../img/sprite.svg") no-repeat 83.8% 96.6% $icons-grey;
    }
    .pint {
      background: url("../img/sprite.svg") no-repeat 73% 97% $icons-grey;
    }
    a:hover span {
      background-color: $light-blue;
    }
    a:hover {
      color: $light-blue;
    }
    a {
      @include flexy(flex-start, center);
    }
  }
}
.follow {
  div {
    width: calc(100% - 36px);
    color: #fff;
    padding: 18px;
    height: 114px;
    p {
      overflow: auto;
    }
    span:first-child {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
    }
    span:last-child {
      float: right;
    }
    i {
      display: block;
      width: 60px;
      height: 60px;
      margin-bottom: 32px;
    }
    .fb-3 {
      background: url("../img/sprite.svg") no-repeat 43.93063583815029% 27.43682310469314%;
    }
    .tw-3 {
      background: url("../img/sprite.svg") no-repeat 2% 0;
    }
    a {
      @include flexy(center, center);
      i {
        width: 22px;
        height: 22px;
        margin: 0 0 0 8px;
        border-radius: 50%;
        border: solid 2px #fff;
        display: inline-block;
      }
    }
    a:hover #fb-text, a:hover #tw-text {
      background: none;
    }
    #fb-text, #tw-text {
        font-weight: 300;
        text-transform: none;
    }
    .sign {
       background: url("../img/sprite.svg") no-repeat 74.8% 81%;
    }
    .fb-signed {
      background:url("../img/sprite.svg") no-repeat 50.8% 95.4% #fff;
    }
    .tw-signed {
      background:url("../img/sprite.svg") no-repeat 61.8% 95.4% #fff;
    }
    a:hover span {
      background: none;
    }
  }
  div:first-child {
    background: $fb-blue;
    margin: 0 0 14px 0;
    padding: 18px;
    span {
      width: auto;
      height: auto;
      margin: 0;
    }
    a:hover {
      color: #fff;
    }
  }
  div:last-child {
    background: $light-blue;
  }
}
.sign-in, .newsletter {
  background: #fff;
  padding: 20px 0;
}
.sign-in {
  margin-bottom: 14px;
  p {
    margin: 8px auto 22px auto;
    font-weight: 300;
  }
  ul {
    @include flexy(center, center);
    flex-wrap: wrap;
  }
  li {
    float: left;
    margin-right: 14px;
  }
  li:last-child {
    margin: 0;
  }
  a {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.sign-fb {
  background: url("../img/sprite.svg") no-repeat 99.2% 1% $fb-blue;
}
.sign-tw {
  background: url("../img/sprite.svg") no-repeat 74% 49.87213114754099% $light-blue;
}
.sign-google {
  background: url("../img/sprite.svg") no-repeat 99.2% 14.2% $red;
}
.sing-lin {
  background: url("../img/sprite.svg") no-repeat 26.4% 83% #238cc8;
}
.newsletter {
  p {
    font-size: .8rem;
    margin: 8px auto 16px auto;
  }
  form {
    @include flexy(center, center);
  }
  input[type="text"], button {
    float: left;
    height: 38px;
  }
  input[type="text"] {
    width: 66%;
    box-sizing: border-box;
    margin-right: 14px;
    border: solid 1px $border-grey;
  }
  button {
    width: 112px;
    background: $red;
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
    border-radius: 6%;
  }
  ::-webkit-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  ::-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-ms-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
}
.story {
  background: $grey;
  color: #fff;
  text-align: left;
  height: 470px;
  margin-bottom: 14px;
  h2 {
    font-size: 3rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
    margin: 32px 0;
    width: 360px;
  }
  .slide {
    padding: 40px 80px;
    width: 100%;
    button {
      text-transform: uppercase;
      border: solid 1px #fff;
      font-weight: 500;
      color: #fff;
      border-radius: 3%;
      padding: 18px 40px;
    }
  }
  .slick-slide, .slick-arrow, .slick-dots {
    outline: none;
  }
  .slick-arrow, .slick-dots {
    position: absolute;
  }
  .slick-arrow {
    width: 32px;
    height: 52px;
    top: 230px;
    z-index: 4;
  }
  .slick-prev {
    left: 0;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
    background: url("../img/sprite.svg") no-repeat 39% 99.86885245901641% #fff;
  }
  .slick-next {
    right: 0;
    border-top-left-radius: 6%;
    border-bottom-left-radius: 6%;
    background: url("../img/sprite.svg") no-repeat 26.2% 99.86885245901641% #fff;
  }
  .slick-dots {
    @include flexy(center, center);
    bottom: 14px;
    margin-left: calc(50% - 49px);
    li {
      float: left;
      margin-right: 12px;
      button {
        border-radius: 50%;
        border: solid 1px #fff;
        outline: none;
        width: 12px;
        height: 12px;

      }
    }
    .slick-active button {
      background: #fff;
    }
  }
}
.post, .actions, .video {
  float: left;
  height: 300px;
}
.post {
  text-align: left;
  background: #fff;
  min-width: 264px;
  width: 36%;
  margin-bottom: 14px;
  padding-right: 14px;
  position: relative;
  h3, p {
    margin-left: 60px;
  }
  h3, p:first-child {
    width: 220px;
  }
  h3 {
    margin-top: 32px;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 700;
  }
  p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  h3 + p {
    color: $minutes;
    line-height: 2;
    margin-bottom: 32px;
  }
  a {
    color: $red;
  }
  i {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    height: 40px;
  }
}
.camera {
  background: url("../img/sprite.svg") no-repeat 1% 98.8% $red;
}
.actions {
  background: $tabcontent-blue;
  button {
    display: block;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1rem;
  }
  i {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}
.heart-linear {
  background: url("../img/sprite.svg") no-repeat 23.2% 27.43682310469314%;
}
.clock {
  background: url("../img/sprite.svg") no-repeat 2.6% 28%;
}
.share {
  background: url("../img/sprite.svg") no-repeat 23% 2%;
}
.video {
  width: calc(100% - (36% + 14px));
  iframe {
    width: calc(100% - 100px);
    height: inherit;
  }
}
.like, .post-2, .post-2+div {
  height: 300px;
  float: left;
}
.like {
  float: none;
  background: $tabcontent-blue;
  margin-bottom: 14px;
  @include flexy(center, center);
  li {
    float: left;
  }
  a {
    color: #fff;
    margin: 0 20px;
  }
  span, a {
    display: block;
  }
  span {
    width: 40px;
    height: 40px;
    margin-bottom: 14px;
  }
}
.share-2 {
  background: url("../img/sprite.svg") no-repeat 24.8% 4%;
}
.heart-filled {
  background: url("../img/sprite.svg") no-repeat 45.4% 4%;
}
.post-2-wrap {
  background: $grey;
  overflow: auto;
  margin-bottom: 14px;
}
.post-2 {
  margin: 0;
  width: 36%;
  min-width: 264px;
}
.photo {
  background: url("../img/sprite.svg") no-repeat 87.8% 31.5% $light-blue;
}
.divided {
  @include flexy(flex-start, flex-start);
  width: 100%;
}
.col1, .col-2 {
  float: left;
}
.col-1 {
  margin-right: 14px;
  width: 36%;
  div {
    text-align: left;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 20px 18px;
  }
}
.col-2 {
  width: 64%;
}
.tweets {
  background: $light-blue;
  color: #fff;
  margin-bottom: 14px;
  overflow: auto;
  div {
    border-top: solid 1px $tweets-border;
    padding-top: 24px;
  }
  div:first-child {
    border: none;
    padding: 24px 0;
    position: relative;
    i {
      display:block;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background:url("../img/sprite.svg") no-repeat 62% 95.4% #fff;
    }
  }
  p {
    margin: 0 18px;
    line-height: 1.4;
  }
  p:last-child {
    margin: 24px 18px;
  }
  span {
    font-weight: 700;
  }
}
.hot {
  background: #fff;
  position: relative;
  padding-top: 2px;
  margin-bottom: 14px;
  height: 588px;
  .slick-dots {
    @include flexy(center, center);
    width: 60px;
    position: absolute;
    top: 32px;
    right: 8px;
    li {
      float: left;
      margin-right: 8px;
      button {
        border-radius: 50%;
        border: solid 1px $grey;
        outline: none;
        width: 10px;
        height: 10px;
      }
    }
    .slick-active button {
      background: $grey;
    }
  }
}
.hot-sliders {
  border-top: solid 1px $border-grey;
  position: relative;
  div {
    width: 100%;
    li {
      overflow: auto;
      @include flexy(flex-start, center);
    }
    i, a, span {
      display: block;
    }
    i {
      width: 60px;
      height: 60px;
      background: $grey;
      margin: 18px;
    }
    i, p {
      float: left;
      font-size: .9rem;
    }
    p {
      width: calc(100% - 120px);
    }
    a {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    span {
      color: $minutes;
    }
  }
}
.ask {
  background: #fff;
  overflow: auto;
  h3 {
    margin: 28px;
  }
  form {
    @include flexy(center, center);
    flex-wrap: wrap;
    margin: 0 18px;
  }
  input, textarea {
    box-sizing: border-box;
    border: solid 1px $border-grey;
    margin-bottom: 18px;
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 8px;
    outline: none;
  }
  input:focus, textarea:focus {
    border-color: $mint;
  }
  textarea {
    height: 100px;
    font: 300 1rem "Roboto", sans-serif;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  ::-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-ms-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  button {
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 6%;
    width: 100px;
    height: 36px;
    margin: 0 0 28px 18px;
  }
}
.calendar-wrap {
  overflow: auto;
  margin-bottom: 14px;
}
.calendar, .viewMore {
  float: left;
  height: 300px;
}
.calendar {
  margin-right: 14px;
  width: 50%;
}
.viewMore {
  background: $red;
  color: #fff;
  width: calc(50% - 14px);
  @include flexy(center, center);
  h2 {
    text-align: left;
    text-transform: uppercase;
    width: 140px;
    margin: auto;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
  }
  span {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 22px;
  }
}
.viewMoreArrow {
  background: url("../img/sprite.svg") no-repeat 74.4% 19.4% #fff;
}
.new {
  background: $grey;
  width: 100%;
  height: 300px;
}
.corner {
  width: 0;
  height: 0;
  border-top: 120px solid $red;
  border-right: 120px solid transparent;
  position: relative;
  span {
    color: #fff;
    display: block;
    position: absolute;
    top: -88px;
    left: 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    transform: rotate(-45deg);
  }
}
.lorem {
  background: #fff;
  text-align: left;
  overflow: auto;
  position: relative;
  margin-bottom: 14px;
  i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  h3 {
    line-height: 1.4;
    font-size: 1.4rem;
    margin: 32px 18px 22px 60px;
  }
  p {
    margin: 0 40px 0 60px;
    span {
      color: $red;
    }
  }
  p, a {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  nav {
    margin: 42px 28px 28px 60px;
    overflow: auto;
  }
  li {
    float: left;
  }
  a {
    display: inline-block;
    margin-right: 14px;
    @include flexy(center, center);
    span {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }
  }
  li:last-child a {
    margin: 0;
  }
}
.page {
  background: url("../img/sprite.svg") no-repeat 88% 1% $mint;
}
.share-mint {
  background: url("../img/sprite.svg") no-repeat 14.2% 97%;
}
.eye {
  background: url("../img/sprite.svg") no-repeat 2% 82%;
}
.speech-bubble {
  background: url("../img/sprite.svg") no-repeat 97% 99.8%;
}
.quote {
  background: #fff;
  position: relative;
  overflow: auto;
  margin-bottom: 14px;
  height: 157px;
  @include flexy(center, center);
  i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  p {
    font: 300 1.4rem "Roboto";
    font-style: italic;
    line-height: 1.4;
    margin: 32px 100px;
    text-align: left;
  }
}
.bkt {
  background: url("../img/sprite.svg") no-repeat 64% 83% $mint;
}
.bottomTabs {
  ul {
    width: 100%;
    @include flexy(center, center);
  }
  li {
    float: left;
    width: 20%;
    a {
      display: inline-block;
      background: $icons-grey;
      border-left: solid 1px $text-black;
      height: 48px;
      width: 100%;
      vertical-align: middle;
      @include flexy(center, center);
      color: #fff;
      box-sizing: border-box;
    }
    .active  {
      background: #fff;
      color: $text-black;
    }
  }
  li:first-child a {
    border: none;
  }
}
.bottomTabContent {
  background: #fff;
  border-top: solid 1px $border-grey;
  height: 240px;
  display: none;
}
#bottomTeam {
  text-align: left;
  overflow: auto;
  div {
    float: left;
    width: 50%;
    div {
      float: none;
      overflow: auto;
      width: 100%;
      @include flexy(flex-start, center);
      img, p {
        float: left;
      }
      p {
        margin: 0;
      }
    }
  }
  img {
    background: $grey;
    width: 60px;
    height: 60px;
    margin: 24px 18px 24px 34px;
  }
  span {
    display: block;
  }
  span:first-child {
    color: $text-black;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6;
  }
  span:last-child {
    color: $minutes;
    font-size: .9rem;
  }
  p {
    margin: 0 34px;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  p:last-child {
    color: $light-blue;
    margin-top: 14px;
  }
}
@media (max-width: 1458px) {
  .hot {
    height: 610px;
  }
}
@media (max-width: 1419px) {
  .hot {
    height: 588px;
  }
}
@media (max-width: 1414px) {
  .hot {
    height: 566px;
  }
}
@media (max-width: 1197px) {
  .ask button {
    margin: 0 0 50px 18px;
  }
}
@media (max-width: 1078px) {
  .ask button {
    margin: 0 0 28px 18px;
  }
  .quote p {
    margin: 32px 90px;
  }
}
@media (max-width: 1018px) {
  .ask button {
    margin: 0 0 52px 18px;
  }
}
@media (max-width: 1013px) {
  .ask button {
    margin: 0 0 30px 18px;
  }
}
@media (max-width: 1000px) {
  body {
    padding: 48px;
  }
  .quote p {
    margin: 32px 60px;
  }
  .address {
    padding-bottom: 24px;
    i {
      margin: 16px 4px;
    }
    span {
      margin: 0 4px;
    }
  }
  .calendar, .viewMore {
    height: 260px;
  }
  .post h3, .post p {
    margin-left: 52px;
  }
  .newsletter {
    p {
      margin: 8px auto 34px auto;
    }
    button {
      width: 80px;
    }
  }
  .bottomTabContent {
    height: 280px;
  }
}
@include breakpoint($w900) {
  .bar a {
    padding: 18px 20px;
  }
  .contacts {
    flex-wrap: wrap;
  }
  .details, .socials {
    float: none;
    width: 100%;
  }
  .details {
    margin: 0 0 14px 0;
  }
  .address i {
    margin: 16px 12px;
  }
  .post, .video {
    float: none;
  }
  .post {
    width: calc(100% - 24px);
    padding-right: 24px;
    overflow: auto;
  }
  .video {
    width: 100%;
    margin-bottom: 14px;
  }
  .col-1, .col-2 {
    float: none;
    width: 100%;
  }
  .divided {
    display: block;
  }
  .col-1 {
    margin-bottom: 14px;
  }
  .story .slide button {
    padding: 14px 28px;
  }
}
@include breakpoint($w800) {
  .bottomTabContent {
    height: 260px;
  }
  .header div {
    width: 100%;
    border-top: solid 1px $border-grey;
  }

  .bar {
    a {
      padding: 18px 4px;
    }
    @include flexy(space-around, center);
    width: calc(100% - 56px);
  }
  .magnifying-glass {
    float: left;
    background-position: 37.6% 85%;
  }
}
@include breakpoint($w700) {
  body {
    padding: 36px;
  }
}
@include breakpoint($w600) {
  body {
    padding: 32px;
  }
  .address i {
    margin: 16px 6px 16px 12px;
  }
  .story {
    .slide {
      padding: 40px 44px;
    }
    .slick-arrow {
      height: 44px;
      width: 28px;
    }
    .slick-prev {
      background-position: 39.2% 99%;
    }
    .slick-next {
      background-position: 26.4% 99%;
    }
    p {
      width: auto;
    }
    .slick-dots li button {
      width: 10px;
      height: 10px;
    }
  }
  .actions button {
    width: 80px;
  }
  .video iframe {
    width: calc(100% - 80px);
  }
  .post, .like {
    height: 260px;
  }
  .calendar, .viewMore {
    float: none;
    width: 100%;
  }
  .calendar {
    margin-bottom: 14px;
  }
  .quote {
    height: auto;
  }
  #bottomTeam {
    p:last-child {
      margin-bottom: 20px;
      margin-top: 8px;
    }
    div {
      float: none;
      width: 100%;
    }
  }
  .bottomTabContent {
    height: 412px;
  }
}
@include breakpoint($w500) {
  body {
    padding: 20px;
  }
  .details div {
    width: 100%;
  }
  .bottomTabContent {
    height: 458px;
  }
  #bottomTeam p {
    margin: 0 28px;
  }
  .quote p {
    margin: 32px 22px 32px 48px;
  }
  .story h2 {
    font-size: 2.6rem;
  }
  .socials-wrap {
    display: block;
    div {
      float: none;
      width: 100%;
    }
  }
  .follow div {
    width: calc(100% - 36px);
  }
  .socials-wrap div:first-child {
    margin: 0 0 14px 0;
  }
  .actions {
    float: none;
    height: 90px;
    @include flexy(space-around, center);
    button {
      float: left;
      height: 90px;
    }
  }
  .video {
    margin-bottom: 14px;
    height: auto;
    iframe {
      width: 100%;
      height: 300px;
    }
  }
  .bottomTabs ul {
    font-size: .9rem;
  }
  .address {
    background: $icons-grey;
    color: #fff;
    font-size: .9rem;
    line-height: 1.2;
    padding-bottom: 4px;
    div {
      overflow: auto;
    }
    p {
      margin: 16px 0;
    }
    p, i {
      float: left;
    }
    span, i {
      display: block;
    }
    i {
      width: 32px;
      height: 32px;
      margin: 16px 14px;
    }
    div {
      float: none;
      width: 100%;
    }
  }
  .tabcontent {
    background: $tabcontent-blue;
  }
}
@include breakpoint($w400) {
  body {
    padding: 14px;
  }
  .bar a, .bottomTabs ul {
    font-size: .8rem;
  }
  .lorem p {
    margin: 0 18px 0 40px;
  }
  .post {
    height: 280px;
  }
  .sign-in p {
    margin: 8px 8px 22px 8px;
  }
  .newsletter button {
    width: 68px;
  }
  .story {
    .slide button {
      padding: 12px 18px;
    }
    h2 {
      font-size: 2.4rem;
    }
  }
}