@import "mix.scss";
body {
  @include main;
  background: $body-bg;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.2;
  color: $text-black;
  padding: 68px;
  text-align: center;
}
ul {
  @include ul-none;
}
a {
  @include a-none;
}
button {
  @include button-none;
}
h2, h3, p {
  margin: 0;
}
section {
  overflow: auto;
}
.header {
  background: #fff;
  overflow: auto;
  ul {
    overflow: auto;
  }
  li {
    float: left;
    overflow: auto;
  }
  a {
    display: inline-block;
  }
}
.three-lines, .bar {
  float: left;
}
.avatar, .magnifying-glass, .nets  {
  float: right;
}
.three-lines, .magnifying-glass, .avatar {
  a {
    width: 56px;
    height: 52px;
  }
}
.three-lines {
  background: $mint;
  a {
    background: url("../img/three-lines.svg") center 12px no-repeat;
  }
}
.bar {
  a:hover {
    color: $mint;
  }
  a {
    padding: 18px 28px;
  }
}
.magnifying-glass {
  background: url("../img/m-glass.svg") center 12px no-repeat;
}
.nets {
  a {
    padding: 26px 18px;
  }
}
.fb {
  border-left: solid 1px $border-grey;
  background: url("../img/fb.svg") center 12px no-repeat;
}
.tw {
  background: url("../img/tw.svg") center 12px no-repeat;
}
.google {
  border-right: solid 1px $border-grey;
  background: url("../img/google.svg") center 12px no-repeat;
}
.avatar a {
  background: url("../img/avatar.svg") center 12px no-repeat;
}
.contacts {
  margin: 14px auto;
  @include flexy(center, flex-start);
  h3 {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.details, .socials {
  float: left;
  width: 50%;
}
.details {
  margin-right: 14px;
  text-align: left;
  background: $tabcontent-blue;
  a {
    width: 100%;
    display: block;
  }
  div {
    float: left;
    width: 50%;
  }
}
.ver-menu {
    nav:first-child {
      background: #fff;
      line-height: 3.8;
      a {
        @include flexy(flex-start, center);
      }
      li {
        border-top: solid 1px #e1e5e7;
      }
      li:first-child {
        border-top: none;
      }
      a:hover {
        background: $mint;
        color: #fff;
      }
      .home {
        background: url("../img/home.svg") no-repeat center center;
      }
      .cart {
        background: url("../img/cart.svg") no-repeat center center;
      }
      .blog {
        background: url("../img/blog.svg") no-repeat center center;
      }
      .community {
        background: url("../img/community.svg") no-repeat center center;
      }
      .trophy {
        background: url("../img/trophy.svg") no-repeat center center;
      }
      .icon {
        background: url("../img/about.svg") no-repeat center center;
      }
      .mail-2 {
        background: url("../img/mail-2.svg") no-repeat center center;
      }
      a:hover .home {
        background: url("../img/home-white.svg") no-repeat center center;
      }
      a:hover .cart {
        background: url("../img/cart-white.svg") no-repeat center center;
      }
      a:hover .blog {
        background: url("../img/blog-white.svg") no-repeat center center;
      }
      a:hover .community {
        background: url("../img/community-white.svg") no-repeat center center;
      }
      a:hover .trophy {
        background: url("../img/trophy-white.svg") no-repeat center center;
      }
      a:hover .icon {
        background: url("../img/about-white.svg") no-repeat center center;
      }
      a:hover .mail-2 {
        background: url("../img/mail.svg") no-repeat center 12px;
      }
      span {
        display: inline-block;
        width: 42px;
        height: 42px;
        margin: 0 12px;
      }
    }
    nav:last-child {
      background: $icons-grey;
      color: #fff;
      font-size: .9rem;
      line-height: 1.2;
      padding-bottom: 4px;
      div {
        overflow: auto;
      }
      p {
        margin: 16px 0;
      }
      p, i {
        float: left;
      }
      span, i {
        display: block;
      }
      i {
        width: 32px;
        height: 32px;
        margin: 16px 14px;
      }
      div {
        float: none;
        width: 100%;
      }
    }
}
.mail {
  background: url("../img/mail.svg") no-repeat center center;
}
.flag {
  background: url("../img/flag.svg") no-repeat center center;
}
.phone {
  background: url("../img/phone.svg") no-repeat center center;
}
.tabcontent {
    display: none;
    color: #fff;
    line-height: 2;
    font-size: .9rem;
    span:first-child {
      color: $mint;
      font-size: 1rem;
    }
    ul {
      padding: 18px;
      border-top: solid 1px $body-bg;
    }
    ul:first-child {
      border-top: none;
    }
    ul:hover {
      background: $tabcontent-hover;
    }
    .arr {
      display: inline-block;
      background: url("../img/arr.svg") no-repeat center center $mint;
      border-radius: 50%;
      width: 17.4px;
      height: 17.4px;
      float: right;
      margin-top: 4px;
    }
}
.socials-wrap {
  @include flexy(center, center);
  margin-bottom: 14px;
  div {
    float: left;
    width: 50%;
  }
  div:first-child {
    background: #fff;
    padding: 16px 0;
    margin-right: 14px;
    span {
      display: inline-block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 12px 20px;
    }
    .fb-2 {
      background: url("../img/fb-2.svg") center center no-repeat $icons-grey;
    }
    .tw-2 {
      background: url("../img/tw-2.svg") center center no-repeat $icons-grey;
    }
    .google-2 {
      background: url("../img/google-2.svg") center center no-repeat $icons-grey;
    }
    .rss {
      background: url("../img/rss.svg") center center no-repeat $icons-grey;
    }
    .pint {
      background: url("../img/pint.svg") center center no-repeat $icons-grey;
    }
    a:hover span {
      background-color: $light-blue;
    }
    a:hover {
      color: $light-blue;
    }
    a {
      @include flexy(flex-start, center);
    }
  }
}
.follow {
  div {
    width: calc(100% - 36px);
    color: #fff;
    padding: 18px;
    height: 114px;
    p {
      overflow: auto;
    }
    span:first-child {
      float: left;
      text-transform: uppercase;
      font-weight: 700;
    }
    span:last-child {
      float: right;
    }
    i {
      display: block;
      width: 60px;
      height: 60px;
      margin-bottom: 32px;
    }
    .fb-3 {
      background: url("../img/fb-3.svg") no-repeat center center;
    }
    .tw-3 {
      background: url("../img/tw-3.svg") no-repeat center center;
    }
    a {
      @include flexy(center, center);
      i {
        width: 22px;
        height: 22px;
        margin: 0 0 0 8px;
        border-radius: 50%;
        border: solid 2px #fff;
        display: inline-block;
      }
    }
    a:hover #fb-text, a:hover #tw-text {
      background: none;
    }
    #fb-text, #tw-text {
        font-weight: 300;
        text-transform: none;
    }
    .sign {
       background: url("../img/plus.svg") no-repeat center center;
    }
    .fb-signed {
      background:url("../img/check-fb.svg") no-repeat center center #fff;
    }
    .tw-signed {
      background:url("../img/check-tw.svg") no-repeat center center #fff;
    }
    a:hover span {
      background: none;
    }
  }
  div:first-child {
    background: $fb-blue;
    margin: 0 0 14px 0;
    padding: 18px;
    span {
      width: auto;
      height: auto;
      margin: 0;
    }
    a:hover {
      color: #fff;
    }
  }
  div:last-child {
    background: $light-blue;
  }
}
.sign-in, .newsletter {
  background: #fff;
  padding: 20px 0;
}
.sign-in {
  margin-bottom: 14px;
  p {
    margin: 8px auto 22px auto;
    font-weight: 300;
  }
  ul {
    @include flexy(center, center);
    flex-wrap: wrap;
  }
  li {
    float: left;
    margin-right: 14px;
  }
  li:last-child {
    margin: 0;
  }
  a {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.sign-fb {
  background: url("../img/fb-2.svg") center center no-repeat $fb-blue;
}
.sign-tw {
  background: url("../img/tw-2.svg") center center no-repeat $light-blue;
}
.sign-google {
  background: url("../img/google-2.svg") center center no-repeat $red;
}
.sing-lin {
  background: url("../img/lin.svg") center center no-repeat #238cc8;
}
.newsletter {
  p {
    font-size: .8rem;
    margin: 8px auto 16px auto;
  }
  form {
    @include flexy(center, center);
  }
  input[type="text"], button {
    float: left;
    height: 38px;
  }
  input[type="text"] {
    width: 66%;
    box-sizing: border-box;
    margin-right: 14px;
    border: solid 1px $border-grey;
  }
  button {
    width: 112px;
    background: $red;
    text-transform: uppercase;
    color: #fff;
    font-size: .9rem;
    border-radius: 6%;
  }
  ::-webkit-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  ::-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-ms-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
}
.story {
  background: $grey;
  color: #fff;
  text-align: left;
  height: 470px;
  margin-bottom: 14px;
  h2 {
    font-size: 3rem;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
    margin: 32px 0;
    width: 360px;
  }
  .slide {
    padding: 40px 80px;
    width: 100%;
    button {
      text-transform: uppercase;
      border: solid 1px #fff;
      font-weight: 500;
      color: #fff;
      border-radius: 3%;
      padding: 18px 40px;
    }
  }
  .slick-slide, .slick-arrow, .slick-dots {
    outline: none;
  }
  .slick-arrow, .slick-dots {
    position: absolute;
  }
  .slick-arrow {
    width: 32px;
    height: 52px;
    top: 230px;
    z-index: 4;
  }
  .slick-prev {
    left: 0;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
    background: url("../img/slick-prev.svg") no-repeat center center #fff;
  }
  .slick-next {
    right: 0;
    border-top-left-radius: 6%;
    border-bottom-left-radius: 6%;
    background: url("../img/slick-next.svg") no-repeat center center #fff;
  }
  .slick-dots {
    @include flexy(center, center);
    bottom: 14px;
    margin-left: 46%;
    li {
      float: left;
      margin-right: 12px;
      button {
        border-radius: 50%;
        border: solid 1px #fff;
        outline: none;
        width: 12px;
        height: 12px;

      }
    }
    .slick-active button {
      background: #fff;
    }
  }
}
.post, .actions, .video {
  float: left;
  height: 300px;
}
.post {
  text-align: left;
  background: #fff;
  width: 300px;
  margin-bottom: 14px;
  padding-right: 14px;
  position: relative;
  h3, p {
    float: left;
    margin-left: 60px;
  }
  h3, p:first-child {
    width: 220px;
  }
  h3 {
    margin-top: 32px;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 700;
  }
  p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  h3 + p {
    color: $minutes;
    line-height: 2;
    margin-bottom: 32px;
  }
  a {
    color: $red;
  }
  i {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    height: 40px;
  }
}
.camera {
  background: url("../img/camera.svg") no-repeat center center $red;
}
.actions {
  background: $tabcontent-blue;
  button {
    display: block;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1rem;
  }
  i {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
}
.heart-linear {
  background: url("../img/heart-linear.svg") no-repeat center center;
}
.clock {
  background: url("../img/clock.svg") no-repeat center center;
}
.share {
  background: url("../img/share.svg") no-repeat center center;
}
.video {
  width: calc(100% - 414px);
  iframe {
    width: 100%;
    height: inherit;
  }
}
.like, .post-2, .post-2+div {
  height: 300px;
  float: left;
}
.like {
  background: $tabcontent-blue;
  width: 300px;
  margin: 0 14px 14px 0;
  @include flexy(center, center);
  li {
    float: left;
  }
  a {
    color: #fff;
    margin: 0 20px;
  }
  span, a {
    display: block;
  }
  span {
    width: 40px;
    height: 40px;
    margin-bottom: 14px;
  }
}
.heart-filled {
  background: url("../img/heart-filled.svg") no-repeat center center;
}
.post-2 {
  margin: 0;
}
.photo {
  background: url("../img/photo.svg") no-repeat center center $light-blue;
}
.post-2+div {
  background: $grey;
  width: calc(100% - 628px);
}
.divided {
  @include flexy(flex-start, flex-start);
}
.col1, .col-2 {
  float: left;
}
.col-1 {
  margin-right: 14px;
  width: 36%;
  div {
    text-align: left;
  }
  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 20px 18px;
  }
}
.col-2 {
  width: 64%;
}
.tweets {
  background: $light-blue;
  color: #fff;
  margin-bottom: 14px;
  overflow: auto;
  div {
    border-top: solid 1px $tweets-border;
    padding-top: 24px;
  }
  div:first-child {
    border: none;
    padding: 24px 0;
    position: relative;
    i {
      display:block;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background:url("../img/check-tw.svg") no-repeat center center #fff;
    }
  }
  p {
    margin: 0 18px;
    line-height: 1.4;
  }
  p:last-child {
    margin: 24px 18px;
  }
  span {
    font-weight: 700;
  }
}
.hot {
  background: #fff;
  position: relative;
  padding-top: 2px;
  margin-bottom: 14px;
  height: 588px;
  .slick-dots {
    @include flexy(center, center);
    width: 60px;
    position: absolute;
    top: 32px;
    right: 8px;
    li {
      float: left;
      margin-right: 8px;
      button {
        border-radius: 50%;
        border: solid 1px $grey;
        outline: none;
        width: 10px;
        height: 10px;
      }
    }
    .slick-active button {
      background: $grey;
    }
  }
}
.hot-sliders {
  border-top: solid 1px $border-grey;
  position: relative;
  div {
    width: 100%;
    li {
      overflow: auto;
      @include flexy(flex-start, center);
    }
    i, a, span {
      display: block;
    }
    i {
      width: 60px;
      height: 60px;
      background: $grey;
      margin: 18px;
    }
    i, p {
      float: left;
      font-size: .9rem;
    }
    p {
      width: calc(100% - 120px);
    }
    a {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    span {
      color: $minutes;
    }
  }
}
.ask {
  background: #fff;
  overflow: auto;
  h3 {
    margin: 28px;
  }
  form {
    @include flexy(center, center);
    flex-wrap: wrap;
    margin: 0 18px;
  }
  input, textarea {
    box-sizing: border-box;
    border: solid 1px $border-grey;
    margin-bottom: 18px;
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 8px;
    outline: none;
  }
  input:focus, textarea:focus {
    border-color: $mint;
  }
  textarea {
    height: 100px;
    font: 300 1rem "Roboto", sans-serif;
    resize: none;
  }
  ::-webkit-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  ::-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-moz-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  :-ms-input-placeholder {
    color: $placeholder;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px;
  }
  button {
    background: $red;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 6%;
    width: 100px;
    height: 36px;
    margin: 0 0 28px 18px;
  }
}
.calendar-wrap {
  overflow: auto;
  margin-bottom: 14px;
}
.calendar, .viewMore {
  float: left;
  height: 300px;
}
.calendar {
  margin-right: 14px;
  width: 50%;
}
.viewMore {
  background: $red;
  color: #fff;
  width: calc(50% - 14px);
  @include flexy(center, center);
  h2 {
    text-align: left;
    text-transform: uppercase;
    width: 140px;
    margin: auto;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4;
  }
  span {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 22px;
  }
}
.viewMoreArrow {
  background: url("../img/viewMoreArrow.svg") no-repeat center center #fff;
}
.new {
  background: $grey;
  width: 100%;
  height: 300px;
}
.corner {
  width: 0;
  height: 0;
  border-top: 120px solid $red;
  border-right: 120px solid transparent;
  position: relative;
  span {
    color: #fff;
    display: block;
    position: absolute;
    top: -88px;
    left: 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    transform: rotate(-45deg);
  }
}
.lorem {
  background: #fff;
  text-align: left;
  overflow: auto;
  position: relative;
  margin-bottom: 14px;
  i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  h3 {
    line-height: 1.4;
    font-size: 1.4rem;
    margin: 32px 18px 22px 60px;
  }
  p {
    margin: 0 40px 0 60px;
    span {
      color: $red;
    }
  }
  p, a {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  nav {
    margin: 42px 28px 28px 60px;
    overflow: auto;
  }
  li {
    float: left;
  }
  a {
    display: inline-block;
    margin-right: 14px;
    @include flexy(center, center);
    span {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px;
    }
  }
  li:last-child a {
    margin: 0;
  }
}
.page {
  background: url("../img/page.svg") no-repeat center center $mint;
}
.share-mint {
  background: url("../img/share-mint.svg") no-repeat center center;
}
.eye {
  background: url("../img/eye.svg") no-repeat center center;
}
.speech-bubble {
  background: url("../img/speech-bubble.svg") no-repeat center center;
}
.quote {
  background: #fff;
  position: relative;
  overflow: auto;
  margin-bottom: 14px;
  height: 157px;
  @include flexy(center, center);
  i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px;
  }
  p {
    font: 300 1.4rem "Roboto", italic;
    line-height: 1.4;
    margin: 32px 100px;
    text-align: left;
  }
}
.bkt {
  background: url("../img/bkt.svg") no-repeat center center $mint;
}
.bottomTabs {
  ul {
    width: 100%;
    @include flexy(center, center);
  }
  li {
    float: left;
    width: 20%;
    a {
      display: inline-block;
      background: $icons-grey;
      border-left: solid 1px $text-black;
      height: 48px;
      width: 100%;
      vertical-align: middle;
      @include flexy(center, center);
      color: #fff;
      box-sizing: border-box;
    }
    a:active, a:hover  {
      background: #fff;
      color: $text-black;
    }
  }
  li:first-child a {
    border: none;
  }
}
.bottomTabContent {
  background: #fff;
  border-top: solid 1px $border-grey;
  height: 240px;
  display: none;
}
#bottomTeam {
  text-align: left;
  div {
    float: left;
    width: 50%;
    div {
      float: none;
      overflow: auto;
      width: 100%;
      @include flexy(flex-start, center);
      img, p {
        float: left;
      }
      p {
        margin: 0;
      }
    }
  }
  img {
    background: $grey;
    width: 60px;
    height: 60px;
    margin: 24px 18px 24px 34px;
  }
  span {
    display: block;
  }
  span:first-child {
    color: $text-black;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6;
  }
  span:last-child {
    color: $minutes;
    font-size: .9rem;
  }
  p {
    margin: 0 34px;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
  }
  p:last-child {
    color: $light-blue;
    margin-top: 14px;
  }
}