@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("res/font/Roboto/roboto-v15-latin-300.woff2") format("woff2"), url("res/font/Roboto/roboto-v15-latin-300.woff") format("woff"), url("res/font/Roboto/roboto-v15-latin-300.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("res/font/Roboto/roboto-v15-latin-300italic.woff2") format("woff2"), url("res/font/Roboto/roboto-v15-latin-300italic.woff") format("woff"), url("res/font/Roboto/roboto-v15-latin-300italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("res/font/Roboto/roboto-v15-latin-regular.woff2") format("woff2"), url("res/font/Roboto/roboto-v15-latin-regular.woff") format("woff"), url("res/font/Roboto/roboto-v15-latin-regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("res/font/Roboto/roboto-v15-latin-500.woff2") format("woff2"), url("res/font/Roboto/roboto-v15-latin-500.woff") format("woff"), url("res/font/Roboto/roboto-v15-latin-500.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("res/font/Roboto/roboto-v15-latin-700.woff2") format("woff2"), url("res/font/Roboto/roboto-v15-latin-700.woff") format("woff"), url("res/font/Roboto/roboto-v15-latin-700.ttf") format("truetype"); }

body {
  margin: 0;
  box-sizing: border-box;
  min-width: 320px;
  background: #4f6780;
  font: 400 1rem "Roboto", sans-serif;
  line-height: 1.2;
  color: #475055;
  padding: 68px;
  text-align: center; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer; }

h2, h3, p {
  margin: 0; }

section {
  overflow: auto; }

.header {
  background: #fff;
  overflow: auto; }
  .header ul {
    overflow: auto; }
  .header li {
    float: left;
    overflow: auto; }
  .header a {
    display: inline-block; }

.three-lines, .bar {
  float: left; }

.avatar, .magnifying-glass, .nets {
  float: right; }

.three-lines a, .magnifying-glass a, .avatar a {
  width: 56px;
  height: 52px; }

.three-lines {
  background: #56ccc8; }
  .three-lines a {
    background: url("../img/three-lines.svg") center 12px no-repeat; }

.bar a:hover {
  color: #56ccc8; }

.bar a {
  padding: 18px 28px; }

.magnifying-glass {
  background: url("../img/m-glass.svg") center 12px no-repeat; }

.nets a {
  padding: 26px 18px; }

.fb {
  border-left: solid 1px #dde2e4;
  background: url("../img/fb.svg") center 12px no-repeat; }

.tw {
  background: url("../img/tw.svg") center 12px no-repeat; }

.google {
  border-right: solid 1px #dde2e4;
  background: url("../img/google.svg") center 12px no-repeat; }

.avatar a {
  background: url("../img/avatar.svg") center 12px no-repeat; }

.contacts {
  margin: 14px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .contacts h3 {
    font-size: 1.6rem;
    font-weight: 500; }

.details, .socials {
  float: left;
  width: 50%; }

.details {
  margin-right: 14px;
  text-align: left;
  background: #152840; }
  .details a {
    width: 100%;
    display: block; }
  .details div {
    float: left;
    width: 50%; }

.ver-menu nav:first-child {
  background: #fff;
  line-height: 3.8; }
  .ver-menu nav:first-child a {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .ver-menu nav:first-child li {
    border-top: solid 1px #e1e5e7; }
  .ver-menu nav:first-child li:first-child {
    border-top: none; }
  .ver-menu nav:first-child a:hover {
    background: #56ccc8;
    color: #fff; }
  .ver-menu nav:first-child .home {
    background: url("../img/home.svg") no-repeat center center; }
  .ver-menu nav:first-child .cart {
    background: url("../img/cart.svg") no-repeat center center; }
  .ver-menu nav:first-child .blog {
    background: url("../img/blog.svg") no-repeat center center; }
  .ver-menu nav:first-child .community {
    background: url("../img/community.svg") no-repeat center center; }
  .ver-menu nav:first-child .trophy {
    background: url("../img/trophy.svg") no-repeat center center; }
  .ver-menu nav:first-child .icon {
    background: url("../img/about.svg") no-repeat center center; }
  .ver-menu nav:first-child .mail-2 {
    background: url("../img/mail-2.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .home {
    background: url("../img/home-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .cart {
    background: url("../img/cart-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .blog {
    background: url("../img/blog-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .community {
    background: url("../img/community-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .trophy {
    background: url("../img/trophy-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .icon {
    background: url("../img/about-white.svg") no-repeat center center; }
  .ver-menu nav:first-child a:hover .mail-2 {
    background: url("../img/mail.svg") no-repeat center 12px; }
  .ver-menu nav:first-child span {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin: 0 12px; }

.ver-menu nav:last-child {
  background: #c5cdd1;
  color: #fff;
  font-size: .9rem;
  line-height: 1.2;
  padding-bottom: 4px; }
  .ver-menu nav:last-child div {
    overflow: auto; }
  .ver-menu nav:last-child p {
    margin: 16px 0; }
  .ver-menu nav:last-child p, .ver-menu nav:last-child i {
    float: left; }
  .ver-menu nav:last-child span, .ver-menu nav:last-child i {
    display: block; }
  .ver-menu nav:last-child i {
    width: 32px;
    height: 32px;
    margin: 16px 14px; }
  .ver-menu nav:last-child div {
    float: none;
    width: 100%; }

.mail {
  background: url("../img/mail.svg") no-repeat center center; }

.flag {
  background: url("../img/flag.svg") no-repeat center center; }

.phone {
  background: url("../img/phone.svg") no-repeat center center; }

.tabcontent {
  display: none;
  color: #fff;
  line-height: 2;
  font-size: .9rem; }
  .tabcontent span:first-child {
    color: #56ccc8;
    font-size: 1rem; }
  .tabcontent ul {
    padding: 18px;
    border-top: solid 1px #4f6780; }
  .tabcontent ul:first-child {
    border-top: none; }
  .tabcontent ul:hover {
    background: #263a54; }
  .tabcontent .arr {
    display: inline-block;
    background: url("../img/arr.svg") no-repeat center center #56ccc8;
    border-radius: 50%;
    width: 17.4px;
    height: 17.4px;
    float: right;
    margin-top: 4px; }

.socials-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px; }
  .socials-wrap div {
    float: left;
    width: 50%; }
  .socials-wrap div:first-child {
    background: #fff;
    padding: 16px 0;
    margin-right: 14px; }
    .socials-wrap div:first-child span {
      display: inline-block;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      margin: 12px 20px; }
    .socials-wrap div:first-child .fb-2 {
      background: url("../img/fb-2.svg") center center no-repeat #c5cdd1; }
    .socials-wrap div:first-child .tw-2 {
      background: url("../img/tw-2.svg") center center no-repeat #c5cdd1; }
    .socials-wrap div:first-child .google-2 {
      background: url("../img/google-2.svg") center center no-repeat #c5cdd1; }
    .socials-wrap div:first-child .rss {
      background: url("../img/rss.svg") center center no-repeat #c5cdd1; }
    .socials-wrap div:first-child .pint {
      background: url("../img/pint.svg") center center no-repeat #c5cdd1; }
    .socials-wrap div:first-child a:hover span {
      background-color: #4fc6f8; }
    .socials-wrap div:first-child a:hover {
      color: #4fc6f8; }
    .socials-wrap div:first-child a {
      display: flex;
      justify-content: flex-start;
      align-items: center; }

.follow div {
  width: calc(100% - 36px);
  color: #fff;
  padding: 18px;
  height: 114px; }
  .follow div p {
    overflow: auto; }
  .follow div span:first-child {
    float: left;
    text-transform: uppercase;
    font-weight: 700; }
  .follow div span:last-child {
    float: right; }
  .follow div i {
    display: block;
    width: 60px;
    height: 60px;
    margin-bottom: 32px; }
  .follow div .fb-3 {
    background: url("../img/fb-3.svg") no-repeat center center; }
  .follow div .tw-3 {
    background: url("../img/tw-3.svg") no-repeat center center; }
  .follow div a {
    display: flex;
    justify-content: center;
    align-items: center; }
    .follow div a i {
      width: 22px;
      height: 22px;
      margin: 0 0 0 8px;
      border-radius: 50%;
      border: solid 2px #fff;
      display: inline-block; }
  .follow div a:hover #fb-text, .follow div a:hover #tw-text {
    background: none; }
  .follow div #fb-text, .follow div #tw-text {
    font-weight: 300;
    text-transform: none; }
  .follow div .sign {
    background: url("../img/plus.svg") no-repeat center center; }
  .follow div .fb-signed {
    background: url("../img/check-fb.svg") no-repeat center center #fff; }
  .follow div .tw-signed {
    background: url("../img/check-tw.svg") no-repeat center center #fff; }
  .follow div a:hover span {
    background: none; }

.follow div:first-child {
  background: #4d6baa;
  margin: 0 0 14px 0;
  padding: 18px; }
  .follow div:first-child span {
    width: auto;
    height: auto;
    margin: 0; }
  .follow div:first-child a:hover {
    color: #fff; }

.follow div:last-child {
  background: #4fc6f8; }

.sign-in, .newsletter {
  background: #fff;
  padding: 20px 0; }

.sign-in {
  margin-bottom: 14px; }
  .sign-in p {
    margin: 8px auto 22px auto;
    font-weight: 300; }
  .sign-in ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .sign-in li {
    float: left;
    margin-right: 14px; }
  .sign-in li:last-child {
    margin: 0; }
  .sign-in a {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%; }

.sign-fb {
  background: url("../img/fb-2.svg") center center no-repeat #4d6baa; }

.sign-tw {
  background: url("../img/tw-2.svg") center center no-repeat #4fc6f8; }

.sign-google {
  background: url("../img/google-2.svg") center center no-repeat #ea6060; }

.sing-lin {
  background: url("../img/lin.svg") center center no-repeat #238cc8; }

.newsletter p {
  font-size: .8rem;
  margin: 8px auto 16px auto; }

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center; }

.newsletter input[type="text"], .newsletter button {
  float: left;
  height: 38px; }

.newsletter input[type="text"] {
  width: 66%;
  box-sizing: border-box;
  margin-right: 14px;
  border: solid 1px #dde2e4; }

.newsletter button {
  width: 112px;
  background: #ea6060;
  text-transform: uppercase;
  color: #fff;
  font-size: .9rem;
  border-radius: 6%; }

.newsletter ::-webkit-input-placeholder {
  color: #afb6ba;
  font: 300 1rem "Roboto", sans-serif;
  line-height: 1.2;
  padding-left: 14px; }

.newsletter ::-moz-placeholder {
  color: #afb6ba;
  font: 300 1rem "Roboto", sans-serif;
  line-height: 1.2;
  padding-left: 14px; }

.newsletter :-moz-placeholder {
  color: #afb6ba;
  font: 300 1rem "Roboto", sans-serif;
  line-height: 1.2;
  padding-left: 14px; }

.newsletter :-ms-input-placeholder {
  color: #afb6ba;
  font: 300 1rem "Roboto", sans-serif;
  line-height: 1.2;
  padding-left: 14px; }

.story {
  background: #787878;
  color: #fff;
  text-align: left;
  height: 470px;
  margin-bottom: 14px; }
  .story h2 {
    font-size: 3rem;
    font-weight: 300; }
  .story p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6;
    margin: 32px 0;
    width: 360px; }
  .story .slide {
    padding: 40px 80px;
    width: 100%; }
    .story .slide button {
      text-transform: uppercase;
      border: solid 1px #fff;
      font-weight: 500;
      color: #fff;
      border-radius: 3%;
      padding: 18px 40px; }
  .story .slick-slide, .story .slick-arrow, .story .slick-dots {
    outline: none; }
  .story .slick-arrow, .story .slick-dots {
    position: absolute; }
  .story .slick-arrow {
    width: 32px;
    height: 52px;
    top: 230px;
    z-index: 4; }
  .story .slick-prev {
    left: 0;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;
    background: url("../img/slick-prev.svg") no-repeat center center #fff; }
  .story .slick-next {
    right: 0;
    border-top-left-radius: 6%;
    border-bottom-left-radius: 6%;
    background: url("../img/slick-next.svg") no-repeat center center #fff; }
  .story .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 14px;
    margin-left: 46%; }
    .story .slick-dots li {
      float: left;
      margin-right: 12px; }
      .story .slick-dots li button {
        border-radius: 50%;
        border: solid 1px #fff;
        outline: none;
        width: 12px;
        height: 12px; }
    .story .slick-dots .slick-active button {
      background: #fff; }

.post, .actions, .video {
  float: left;
  height: 300px; }

.post {
  text-align: left;
  background: #fff;
  width: 300px;
  margin-bottom: 14px;
  padding-right: 14px;
  position: relative; }
  .post h3, .post p {
    float: left;
    margin-left: 60px; }
  .post h3, .post p:first-child {
    width: 220px; }
  .post h3 {
    margin-top: 32px;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 700; }
  .post p {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6; }
  .post h3 + p {
    color: #bcc1c4;
    line-height: 2;
    margin-bottom: 32px; }
  .post a {
    color: #ea6060; }
  .post i {
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 40px;
    height: 40px; }

.camera {
  background: url("../img/camera.svg") no-repeat center center #ea6060; }

.actions {
  background: #152840; }
  .actions button {
    display: block;
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 1rem; }
  .actions i {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto; }

.heart-linear {
  background: url("../img/heart-linear.svg") no-repeat center center; }

.clock {
  background: url("../img/clock.svg") no-repeat center center; }

.share {
  background: url("../img/share.svg") no-repeat center center; }

.video {
  width: calc(100% - 414px); }
  .video iframe {
    width: 100%;
    height: inherit; }

.like, .post-2, .post-2 + div {
  height: 300px;
  float: left; }

.like {
  background: #152840;
  width: 300px;
  margin: 0 14px 14px 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .like li {
    float: left; }
  .like a {
    color: #fff;
    margin: 0 20px; }
  .like span, .like a {
    display: block; }
  .like span {
    width: 40px;
    height: 40px;
    margin-bottom: 14px; }

.heart-filled {
  background: url("../img/heart-filled.svg") no-repeat center center; }

.post-2 {
  margin: 0; }

.photo {
  background: url("../img/photo.svg") no-repeat center center #4fc6f8; }

.post-2 + div {
  background: #787878;
  width: calc(100% - 628px); }

.divided {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.col1, .col-2 {
  float: left; }

.col-1 {
  margin-right: 14px;
  width: 36%; }
  .col-1 div {
    text-align: left; }
  .col-1 h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 20px 18px; }

.col-2 {
  width: 64%; }

.tweets {
  background: #4fc6f8;
  color: #fff;
  margin-bottom: 14px;
  overflow: auto; }
  .tweets div {
    border-top: solid 1px #7bd4fa;
    padding-top: 24px; }
  .tweets div:first-child {
    border: none;
    padding: 24px 0;
    position: relative; }
    .tweets div:first-child i {
      display: block;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: url("../img/check-tw.svg") no-repeat center center #fff; }
  .tweets p {
    margin: 0 18px;
    line-height: 1.4; }
  .tweets p:last-child {
    margin: 24px 18px; }
  .tweets span {
    font-weight: 700; }

.hot {
  background: #fff;
  position: relative;
  padding-top: 2px;
  margin-bottom: 14px;
  height: 588px; }
  .hot .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    position: absolute;
    top: 32px;
    right: 8px; }
    .hot .slick-dots li {
      float: left;
      margin-right: 8px; }
      .hot .slick-dots li button {
        border-radius: 50%;
        border: solid 1px #787878;
        outline: none;
        width: 10px;
        height: 10px; }
    .hot .slick-dots .slick-active button {
      background: #787878; }

.hot-sliders {
  border-top: solid 1px #dde2e4;
  position: relative; }
  .hot-sliders div {
    width: 100%; }
    .hot-sliders div li {
      overflow: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .hot-sliders div i, .hot-sliders div a, .hot-sliders div span {
      display: block; }
    .hot-sliders div i {
      width: 60px;
      height: 60px;
      background: #787878;
      margin: 18px; }
    .hot-sliders div i, .hot-sliders div p {
      float: left;
      font-size: .9rem; }
    .hot-sliders div p {
      width: calc(100% - 120px); }
    .hot-sliders div a {
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 8px; }
    .hot-sliders div span {
      color: #bcc1c4; }

.ask {
  background: #fff;
  overflow: auto; }
  .ask h3 {
    margin: 28px; }
  .ask form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 18px; }
  .ask input, .ask textarea {
    box-sizing: border-box;
    border: solid 1px #dde2e4;
    margin-bottom: 18px;
    width: 100%;
    height: 36px;
    font-size: 1rem;
    padding: 8px;
    outline: none; }
  .ask input:focus, .ask textarea:focus {
    border-color: #56ccc8; }
  .ask textarea {
    height: 100px;
    font: 300 1rem "Roboto", sans-serif;
    resize: none; }
  .ask ::-webkit-input-placeholder {
    color: #afb6ba;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px; }
  .ask ::-moz-placeholder {
    color: #afb6ba;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px; }
  .ask :-moz-placeholder {
    color: #afb6ba;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px; }
  .ask :-ms-input-placeholder {
    color: #afb6ba;
    font: 300 1rem "Roboto", sans-serif;
    line-height: 1.2;
    padding-left: 14px; }
  .ask button {
    background: #ea6060;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 6%;
    width: 100px;
    height: 36px;
    margin: 0 0 28px 18px; }

.calendar-wrap {
  overflow: auto;
  margin-bottom: 14px; }

.calendar, .viewMore {
  float: left;
  height: 300px; }

.calendar {
  margin-right: 14px;
  width: 50%; }

.viewMore {
  background: #ea6060;
  color: #fff;
  width: calc(50% - 14px);
  display: flex;
  justify-content: center;
  align-items: center; }
  .viewMore h2 {
    text-align: left;
    text-transform: uppercase;
    width: 140px;
    margin: auto;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4; }
  .viewMore span {
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-top: 22px; }

.viewMoreArrow {
  background: url("../img/viewMoreArrow.svg") no-repeat center center #fff; }

.new {
  background: #787878;
  width: 100%;
  height: 300px; }

.corner {
  width: 0;
  height: 0;
  border-top: 120px solid #ea6060;
  border-right: 120px solid transparent;
  position: relative; }
  .corner span {
    color: #fff;
    display: block;
    position: absolute;
    top: -88px;
    left: 20px;
    text-transform: uppercase;
    font-size: 1.4rem;
    transform: rotate(-45deg); }

.lorem {
  background: #fff;
  text-align: left;
  overflow: auto;
  position: relative;
  margin-bottom: 14px; }
  .lorem i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px; }
  .lorem h3 {
    line-height: 1.4;
    font-size: 1.4rem;
    margin: 32px 18px 22px 60px; }
  .lorem p {
    margin: 0 40px 0 60px; }
    .lorem p span {
      color: #ea6060; }
  .lorem p, .lorem a {
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6; }
  .lorem nav {
    margin: 42px 28px 28px 60px;
    overflow: auto; }
  .lorem li {
    float: left; }
  .lorem a {
    display: inline-block;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .lorem a span {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 8px; }
  .lorem li:last-child a {
    margin: 0; }

.page {
  background: url("../img/page.svg") no-repeat center center #56ccc8; }

.share-mint {
  background: url("../img/share-mint.svg") no-repeat center center; }

.eye {
  background: url("../img/eye.svg") no-repeat center center; }

.speech-bubble {
  background: url("../img/speech-bubble.svg") no-repeat center center; }

.quote {
  background: #fff;
  position: relative;
  overflow: auto;
  margin-bottom: 14px;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .quote i {
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width: 40px;
    height: 40px; }
  .quote p {
    font: 300 1.4rem "Roboto", italic;
    line-height: 1.4;
    margin: 32px 100px;
    text-align: left; }

.bkt {
  background: url("../img/bkt.svg") no-repeat center center #56ccc8; }

.bottomTabs ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.bottomTabs li {
  float: left;
  width: 20%; }
  .bottomTabs li a {
    display: inline-block;
    background: #c5cdd1;
    border-left: solid 1px #475055;
    height: 48px;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box; }
  .bottomTabs li a:active, .bottomTabs li a:hover {
    background: #fff;
    color: #475055; }

.bottomTabs li:first-child a {
  border: none; }

.bottomTabContent {
  background: #fff;
  border-top: solid 1px #dde2e4;
  height: 240px;
  display: none; }

#bottomTeam {
  text-align: left; }
  #bottomTeam div {
    float: left;
    width: 50%; }
    #bottomTeam div div {
      float: none;
      overflow: auto;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      #bottomTeam div div img, #bottomTeam div div p {
        float: left; }
      #bottomTeam div div p {
        margin: 0; }
  #bottomTeam img {
    background: #787878;
    width: 60px;
    height: 60px;
    margin: 24px 18px 24px 34px; }
  #bottomTeam span {
    display: block; }
  #bottomTeam span:first-child {
    color: #475055;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.6; }
  #bottomTeam span:last-child {
    color: #bcc1c4;
    font-size: .9rem; }
  #bottomTeam p {
    margin: 0 34px;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.6; }
  #bottomTeam p:last-child {
    color: #4fc6f8;
    margin-top: 14px; }
